:root {
    --search-container-width: 94%;
    --search-container-height: 46px;
    --primary-shadow: 0 0 0 1px rgba(255, 255, 255, .3) inset,
        0 1px 16px rgba(0, 0, 0, 0.6);
    --primary-text-shadow: 0 1px 1px rgba(255, 255, 255, .3);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    user-select: none;
    background: no-repeat fixed;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    -webkit-tap-highlight-color: transparent;
    transition: background-image 0.5s ease;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

.clock-container {
    margin-top: 32px;
    text-align: center;
    text-shadow: 0px 0px 3px rgba(35, 35, 35, 1);
}

.time {
    font-size: 80px;
    color: rgba(255, 255, 255, 1);
}

.date {
    font-size: 22px;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 1);
}

.search-container {
    margin: 0 auto;
    max-width: 600px;
}

.search-box {
    position: relative;
    display: flex;
    border-radius: 16px;
    height: 46px;
    align-items: center;
    background: rgba(255, 255, 255, 0.9) border-box;
    box-shadow: var(--primary-shadow);
    text-shadow: var(--primary-text-shadow);
}

.engine-btn {
    width: 60px;
    height: 100%;
    padding: 0;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
}

.engine-btn::after {
    content: "";
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, 0.35);
    margin-left: 5px;
}

.engine-list {
    position: relative;
    top: 10px;
    left: 0;
    padding: 12px;
    border-radius: 16px;
    z-index: 300;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: var(--primary-shadow);
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    transition: opacity 0.3s ease,
        max-height 0.3s ease,
        visibility 0.3s ease;
}

.engine-list.show {
    opacity: 1;
    visibility: visible;
    max-height: 350px;
}

.engine-icon {
    width: 24px;
    height: 24px;
}

.engine-option {
    padding: 6px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: rgba(51, 51, 51, 1);
    flex-direction: column;
    min-width: 60px;
    box-sizing: border-box;
}

.engine-option span {
    font-size: 12px;
}

.engine-option:hover {
    background: rgb(0, 0, 0, 0.05);
    transform: translateY(-2px);
}

.search-input {
    flex: 1;
    border: none;
    font-size: 15px;
    background: transparent;
    outline: none;
    height: 100%;
    line-height: 46px;
}

.search-btn {
    width: 60px;
    height: 100%;
    padding: 0;
    border: none;
    background: rgba(255, 255, 255, 0);
    border-radius: 0 16px 16px 0;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
}

.search-icon {
    width: 24px;
    height: 24px;
}

.search-suggestions {
    width: 600px;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    border-radius: 16px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.9);
    box-shadow: var(--primary-shadow);
    transition: opacity 0.3s ease,
        max-height 0.3s ease,
        visibility 0.3s ease;
}

.search-suggestions.show {
    opacity: 1;
    visibility: visible;
    max-height: 400px;
}

.suggestion-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    font-size: 15px;
    cursor: pointer;
    gap: 10px;
    border-radius: 16px;
    color: rgba(53, 53, 53, 1);
    transition: background-color 0.2s;
}

.suggestion-item.active {
    background-color: rgba(255, 255, 255, 0.9);
}

.suggestion-item.active::after {
    content: "↩ 确认";
    position: absolute;
    right: 20px;
    font-size: 12px;
    opacity: 0.6;
}

.suggestion-icon {
    width: 16px;
    height: 16px;
    margin-right: 12px;
    opacity: 0.6;
}

/* 网址收藏 */
.nav-wrapper {
    max-width: 800px;
    width: 94%;
    margin: 0 auto;
    margin-top: 35px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 120px;
    gap: 15px;
}

.nav-categories {
    position: relative;
    border-radius: 16px;
    padding: 15px;
    width: 120px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: var(--primary-shadow);
    text-shadow: var(--primary-text-shadow);
}

.nav-highlight {
    position: absolute;
    background: rgba(66, 133, 244, 1);
    border-radius: 8px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    width: calc(100% - 24px);
    left: 12px;
}

.nav-category {
    display: flex;
    position: relative;
    padding: 10px;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 6px;
    z-index: 2;
    transition: color 0.3s;
    font-size: 14px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-shadow: 0px 0px 3px rgba(35, 35, 35, 1);
}

.nav-content {
    flex: 1;
    padding: 15px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: var(--primary-shadow);
}

.nav-items {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(95px, 1fr));
    gap: 15px;
    animation: fadeIn 0.3s;
}

.nav-items.active {
    display: grid;
}

.nav-item {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 13px;
    text-shadow: 0px 0px 3px rgba(35, 35, 35, 1);
}

.nav-icon {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    margin: 0 auto 6px;
    transition: all 0.2s;
    padding: 8px;
    object-fit: contain;
}

.nav-item:hover .nav-icon {
    transform: translateY(-2px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .time {
        font-size: 60px;
    }

    .date {
        font-size: 18px;
    }

    .search-container {
        width: 90%;
    }

    .engine-option {
        min-width: 50px;
        padding: 6px;
    }

    .engine-option span {
        font-size: 12px;
    }

    .search-input {
        font-size: 14px;
        line-height: 44px;
    }

    .search-suggestions {
        max-width: 90%;
    }

    .nav-wrapper {
        display: flex;
        flex-direction: column;
    }

    .nav-categories {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
        padding: 10px 12px;
        width: auto;
        border-radius: 14px;
    }

    .nav-category {
        padding: 8px 16px;
        margin: 0 12px 0 0;
    }

    .nav-highlight {
        height: 60%;
        top: 50%;
        transform: translateY(-50%);
    }

    .nav-icon {
        width: 32px;
        height: 32px;
        padding: 6px;
    }
}

.bottom {
    height: 35px;
    margin-top: 30px;
}